html, body {
	margin: 0px;
	padding: 0px;
	background-color: gainsboro;		
}
#ajaxLoader {
	position: absolute;
	right: 200px;
	top: 12px;
}
#ajaxLoader p {
	position: relative;
	float: right;
	margin: 6px 0px 0px 6px;	
}
.content {
	position: relative;
	width: 100%;	
	font-family: Sans-serif;
}
.leftBody {		
	position: relative;
}
.leftBody .searchBar {
	height: 64px;
	overflow: auto;
}
/*.leftBody .searchBar form {
	padding: 10px 10px 20px 100px;	
}*/
.leftBody .searchBar form fieldset {
	background-color: whitesmoke;
    border: 1px solid silver;
    float:left;    
    margin: 0px;
    padding: 1px;
}
.leftBody .searchBar form fieldset #searchField {
	border: 1px solid gainsboro;
    color: #3C3C3C;   
    font-size: 1.385em;
    height: 30px;
    line-height: 27px;
    margin: 2px;
    text-indent: 5px;
    width: 400px;
}
.leftBody #desktop {
	min-width: 800px;
	position: relative;
	background-color: whitesmoke;
    border: 1px solid silver;
    margin: 4px;
    overflow: auto;
    clear: left;
}
.rightBody {
	position: relative;
	z-index: 1;
	width: 	200px;		
	float: right;	
}
.content .button {
	position: relative;
	left: 5%;
	height: 38px;
	width: 182px;
	color: #555555;
	border: 1px solid silver;
	border-radius: 6px;
	text-shadow: 1px 1px 0 #FFFFFF;		
	font-size: 15px;
	font-weight: bold;
	font-family: arial;
}
.leftBody .button {
	float: right;
	left: 0%;
}
.leftBody {
	position: relative;		
}
.leftBody .documentList ul.browser {
	list-style: none outside none;
    margin: 0px;
    padding: 0px;	
}
.leftBody .documentList ul.browser li {
	position: relative;
	background-color: #FFFFFF;
    border: 2px solid gainsboro;
    float: left;
    height: 80px;
    margin: 5px;
    overflow: hidden;
    padding: 5px;
    width: 257px;
/*    box-shadow: 3px 3px 4px;*/
}
.leftBody .documentList .docTitle {
	color: #1122CC;
    cursor: pointer;
    font-size: medium;
    margin: 0px 0px 0px 20px;
    text-overflow: ellipsis;	
    text-decoration: none;    
}
.leftBody .documentList .docContent {
	float: right;
    height: 100%;
    position: static;
    margin-top: 0px;
    margin-left: 20px;
    padding: 0px;
    line-height: 1;    
}
.myHover .docContent {
    height: 80% ! important;
    overflow: auto;
}
.leftBody .documentList .docContent span {	
	color: #222222;
    font-size: small;
    overflow: auto;
}
.leftBody .documentList .circles {
	float: left;
    height: 80px;
    position: absolute;
    width: 20px;
    line-height: 85%;
}
.leftBody .documentList .circles circle:hover{
	cursor: pointer;
}
.leftBody .documentList .docButtons {
	display: none;
    height: 25px;
    position: absolute;
    right: 5px;	
}
.leftBody .documentList button {
	height: 20px;
	width: 20px;
	float: right;
}
.leftBody .documentList .addButton {
	background-image: url("../images/add2_24.png");
    background-position: center center;
    background-size: contain;
}
.leftBody .documentList .chartButton {
	background-image: url("../images/relButton.png");
    background-position: center center;
    background-size: contain;
}
.leftBody .topicList {
	background-color: whitesmoke;
    border: 1px solid silver;
    margin: 4px;
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
}
.leftBody .topicList ul {
    height: 100%;
    position: relative;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}
.leftBody .topicList > ul > li {
	border-style: solid;
    border-width: 2px 2px 2px 1px;
    float: left;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 200px;	   
}
.leftBody .topicList .topicElementDiv {
	background-color: white;
    border: 1px solid grey;
    height: 100%;
    margin-left: 10%;
    overflow: hidden;
    position: relative;
    width: 80%;	
}
.leftBody .topicList .topicElementMenu {
	float: right;
}
.leftBody .topicList button {
	height: 20px;
	width: 20px;
	float: left;
}
.leftBody .topicList .showBig {
	background-image: url("../images/glass.png");
	background-position: center center;
    background-size: contain;
}
.leftBody .topicList .addToCart {
	background-image: url("../images/add2_24.png");
	background-position: center center;
    background-size: contain;
}
.leftBody .topicList .timeView {
	background-image: url("../images/date.png");
	background-position: center center;
    background-size: contain;
}
.leftBody .topicList .divideTopic {
	background-image: url("../images/arrow_divide.png");
	background-position: center center;
    background-size: contain;
}
.leftBody .topicList .topicTitle {
	background-color: whitesmoke;
    border-bottom: 1px solid silver;
    color: #222222;
    font-size: medium;
    font-weight: bold;
    height: 18px;
    margin-top: 1px;
    overflow: hidden;
    padding-left: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.leftBody .topicList .topicElementContent {
    overflow: auto;
    width: 100%;
    text-align: center;
    height: 87%;
}
.leftBody .pointer {
	margin: 0px 4px;
    position: relative;
    height: 16px;
    overflow: hidden;
    text-align: center;    
}
.leftBody .reiter {
	height:20px;
	border:1px solid silver;
	float:left;
	margin:0 0 -1px 4px;
	padding: 0px 5px;
	border-bottom:0px;
	border-radius: 12px 12px 0px 0px;
	text-align: center;
}
.leftBody .reiter span {
	vertical-align: middle;	
}
.leftBody .reiter.active{	
	border-color: #C0C0C0 #C0C0C0 #F5F5F5 #C0C0C0;
	z-index: 5;
	background: #F5F5F5;	
}

.leftBody .reiter.active:hover{	
	cursor: default;	
	background: #F5F5F5;	
}


.leftBody .reiter.active span {	
	color: #3366EA;
}
.active:hover {
	cursor: default;
}

.content .button:hover {
	background: #dfdfdf; /* Old browsers */
	background: -moz-linear-gradient(top,  #dfdfdf 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dfdfdf), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dfdfdf 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dfdfdf 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dfdfdf 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #dfdfdf 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */	
	cursor: pointer;	
}
.rightBody .shoppingCart {
	position: relative;
	width: 180px;
	background-color: whitesmoke;
	border: 1px solid silver;
	left: 5%;
	margin-top: 10px;
}
.bottom {
	position: relative;
    overflow: hidden;
	height: 50px;
}
.bottom .topicBottomSliderDiv {
	height: 42px;
    margin: 4px;
    position: relative;
}
.bottom .topicBottomSliderDiv .topicPrevElCont {
	height: 100%;
    position: relative;
    width: 100%;
  	padding-top: 1px;
  	overflow:hidden;
}
.bottom .topicBottomSliderDiv .topicPrevSlider {
	position: absolute ! important;
    z-index: 5;	
    top: 0;
    height: 15px;
    background-color: white;
    opacity: 0.5;
    border: 1px solid black;
	cursor: col-resize;
	overflow:hidden;
}
#groupG rect:hover {
	cursor: pointer;	
}
.bottom svg {	
    width: 100%;
}

.gradientGray {
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 0%, #dfdfdf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dfdfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#dfdfdf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#dfdfdf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#dfdfdf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#dfdfdf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */		
}

.small {
	border: 1px solid black;
	font-size: 10px;
}

#tabView .reiter .closeIcon {
	position: absolute;
	right: 5px;
	top: 0px;
	float: right;
	margin-top: 4px;
	border: 1px solid;
	border-radius: 10px;
	padding: 1px;
	background-color: #FFFFFF;
}
#tabView .reiter .closeIcon:hover {
	background-color: orange;
}
.rotate1 {
  -webkit-transform: rotate(0deg) translate3d( 0, 0, 0);
     -moz-transform: rotate(0deg);
       -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.rotate2 {
  -webkit-transform: rotate(90deg) translate3d( 0, 0, 0);
     -moz-transform: rotate(90deg);
       -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 200px;
}

.jumpToStart {
	padding: 15px 15px 0; 
	background-color: #F5F5F5; 
	border: 1px solid #DCDCDC; 
	top: -10px; 
	border-radius: 7px;
	font-size: x-large; 
	display: none;
	position: absolute;
	z-index:3;
	color: darkgray;
}
.jumpToStart:hover {
	cursor: pointer;	
}
.ui-tooltip {
	font-size: 60%;
}

.topicCircle, .topicCircleNotMove {
	font-size: x-large;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.topicWord {
	cursor: pointer;
}

#topicMenuActivator:hover {
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.timeTopicSpan {
	white-space: nowrap;
	display: inline-block;
	overflow: hidden;
	width: 33px;
	margin-right: -9px;
	
}