# Ignore everything
*.project
*.classpath
*.jar
*.class
*.settings
*/target/*
*.local.properties
.gitignore*
pom.xml.versionsBackup
creator-server/common/dist
creator-server/creator/dist

# But not these files
!*/src/test/resources/*
