<div class="topicElementMenu">
	<!-- ko if: typeof $parent.loadTimeViewForTopic == 'function' -->
		<img src="images/date.png" name="timeView" title="show time chart" data-bind="click: function() { $parent.loadTimeViewForTopic(selectedTopic)}"/>
	<!-- /ko -->
</div>
<div class="topicTitle"><a href="#" data-bind="text: $parent.Topic[selectedTopic].TITLE_REPRESENTATION[$parent.textSelection().field],click: function() { $parent.loadDocumentsForTopic(selectedTopic)}"></a></div>
<div class="topicElementContent" data-bind="event: {scroll: function() { $parent.scrollCallback[$parent.textSelection().field](selectedTopic)}}, attr: {title:  $parent.Topic[selectedTopic].INFO_HIGHLIGHT[$parent.textSelection().field]}, style: {height: ($parent.topicListHeight() - 33) + 'px'}">				
	<ul class="wordList">
		<li>
			<div class="jumpToStart" data-bind="click: function(data, event) { $(event.target).parents('.topicElementContent').scrollTop(0) }" style="left:60px;">^</div>
		</li>
		<!-- ko foreach: {data: globalData.Topic[selectedTopic].SORTING[$parent.activeFrameType()], as: 'frame'} -->
			<li><a href="#" data-bind="text: globalData.Topic[selectedTopic].FRAMES[$parents[1].activeFrameType()][frame].FRAME + ' (' + globalData.Topic[selectedTopic].FRAMES[$parents[1].activeFrameType()][frame].FRAME_COUNT + ')', click: function(data, event) { $parents[1].loadDocumentsForFrames(frame, event)}"></a></li>
		<!-- /ko -->
		<!-- ko if: !globalData.Topic[selectedTopic].FULL[$parent.activeFrameType()]() -->
			<li><img src="images/ajax-loader.gif" alt="Loading"/></li>
		<!-- /ko -->
	</ul>
</div>