<div>
	<div data-bind="text: version"></div><br/>
	<div style="margin: 5px;">
		<span data-bind="text: 'Document count: ' + globalData.DOCUMENT_COUNT"></span><br/>
		<span data-bind="text: 'Word count: ' + globalData.WORD_COUNT"></span><br/>
		<span data-bind="text: 'Wordtype count: ' + globalData.WORDTYPE_COUNT"></span><br/>
		<span data-bind="text: 'Min/Avg/Max words per document: ' + globalData.MIN_WORD_COUNT + '/' + Math.round(globalData.WORD_COUNT/globalData.DOCUMENT_COUNT) + '/' + globalData.MAX_WORD_COUNT"></span><br/>
		<span data-bind="text: 'Min/Avg/Max word length: ' + globalData.MIN_WORD_LENGTH + '/' + globalData.AVG_WORD_LENGTH + '/' + globalData.MAX_WORD_LENGTH"></span><br/>
		<table id="table" data-bind="template: {name: 'wordtype_listTemplate', foreach: globalData.WORDTYPE_WORDCOUNTS, afterRender: function() {$('#table').tbltree();}}">
		</table>
	</div>
	<div id="overlay" style="position: fixed; width: 100%; height:100%; top:0;margin: 0 auto; background-color:rgba(255,255,255,0.8); display: none;">
		<img style="border: 0; margin: 0;" src="images/delete_24.png" data-bind="click: closeOverlay"/>
		<div style="text-align: center; height:90%;position: fixed; left: 50%;width: 669px;margin-left: -335px;background-color: lightgrey; ">
			<div style="text-align: center; overflow: auto; height:88%;position: fixed; left: 50%;width: 200px;margin-left: -100px;background-color: white; margin-top: 0.5%">
				<span style="margin-left: -300px;position: fixed;" data-bind="text: wordlistLabel"></span>
				<!-- ko if: !loading() -->	
				<ul style="list-style: none;padding: 0;">
					<!-- ko foreach: {data: wordList, as: 'item'} -->
						<li data-bind="text: item.TOKEN + ' (' + item.COUNT + ')'"></li>
					<!-- /ko -->
				</ul>
				<!-- /ko --> 
				<!-- ko if: loading -->
				<img style="border: 0" src="images/ajax-loader.gif" alt="Loading"/>
				<!-- /ko --> 
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="wordtype_listTemplate">
<!-- ko if: PARENT > -1 -->
<tr data-bind="attr: {'row-id': POS, 'parent-id': PARENT}">
	<td><span data-bind="text:LABEL"></span><span style="cursor: pointer;" data-bind="click: function() { globalData.openOverlay($data); }"><img style="width: 12px; height: 12px; margin-bottom: -3px;" src="images/glass.png"/></span></td>
	<td title="count" data-bind="text:COUNT"></td>
	<td title="document count" data-bind="text:DOCUMENT_COUNT"></td>
	<td title="term count" data-bind="text:TERM_COUNT"></td>
	<td title="minimum token length" data-bind="text:MIN_TOKEN_LENGTH"></td>
	<td title="average token lenght" data-bind="text:AVG_TOKEN_LENGTH"></td>
	<td title="maximum token lenght" data-bind="text:MAX_TOKEN_LENGTH"></td>
</tr>
<!-- /ko --> 
<!-- ko if: PARENT < 0 -->
<tr data-bind="attr: {'row-id': POS}">
	<td><span data-bind="text:LABEL"></span><span style="cursor: pointer;" data-bind="click: function() { globalData.openOverlay($data); }"><img style="width: 12px; height: 12px; margin-bottom: -3px;" src="images/glass.png"/></span></td>
	<td title="count" data-bind="text:COUNT"></td>
	<td title="document count" data-bind="text:DOCUMENT_COUNT"></td>
	<td title="term count" data-bind="text:TERM_COUNT"></td>
	<td title="minimum token length" data-bind="text:MIN_TOKEN_LENGTH"></td>
	<td title="average token lenght" data-bind="text:AVG_TOKEN_LENGTH"></td>
	<td title="maximum token lenght" data-bind="text:MAX_TOKEN_LENGTH"></td>
</tr>
<!-- /ko -->
	
<!-- ko template: { name: 'wordtype_listTemplate', foreach: CHILDREN } -->
<!-- /ko -->  

</script>