<div>
	<div data-bind="text: version"></div><br/>
	<div style="margin: 5px;">
		<span data-bind="text: 'Document count: ' + globalData.DOCUMENT_COUNT"></span><br/>
		<span data-bind="text: 'Word count: ' + globalData.WORD_COUNT"></span><br/>
		<span data-bind="text: 'Wordtype count: ' + globalData.WORDTYPE_COUNT"></span><br/>
		<span data-bind="text: 'Min/Avg/Max words per document: ' + globalData.MIN_WORD_COUNT + '/' + Math.round(globalData.WORD_COUNT/globalData.DOCUMENT_COUNT) + '/' + globalData.MAX_WORD_COUNT"></span><br/>
		<span data-bind="text: 'Min/Avg/Max word length: ' + globalData.MIN_WORD_LENGTH + '/' + globalData.AVG_WORD_LENGTH + '/' + globalData.MAX_WORD_LENGTH"></span><br/>
		
		
		
		<table id="table">
			<thead>
				<tr>
					<th>wordtype</th>
					<th>document count</th>
					<th>token count</th>
					<th>term count</th>
					<th>minimum token length</th>
					<th>average token length</th>
					<th>maximum token length</th>
				</tr>
			</thead>
			<tbody data-bind="template: {name: 'wordtype_listTemplate', foreach: globalData.WORDTYPE_WORDCOUNTS, afterRender: function() {$('#table').tbltree({initState:'expanded'});}}">
		</table>
		<button type="button" data-bind="click:goOn">go on</button>
	</div>
	<div id="overlay" class="overlay" style="position: fixed; width: 100%; height:100%; top:0;margin: 0 auto; background-color:rgba(255,255,255,0.8); display: none;">
		<img style="border: 0; margin: 0;" src="images/delete_24.png" data-bind="click: closeOverlay"/>
		<div style="text-align: center; height:90%;position: fixed; left: 50%;width: 669px;margin-left: -335px;background-color: lightgrey; ">
			<div id="wordlistDiv" style="text-align: center; overflow: auto; height:84%;position: fixed; left: 50%;width: 200px;margin-left: -100px;background-color: white; margin-top: 0.5%" data-bind="event: {scroll: wordListScroll}">
				<span style="margin-left: -300px;position: fixed;font-weight: bold; font-size:x-large; color:#999;" data-bind="text: wordlistLabel"></span>
				<!-- ko if: !loading() -->	
				<ul style="list-style: none;padding: 0;" id="wordList">
					<!-- ko foreach: {data: renderedWordList, as: 'index'} -->
						<li>
							<span data-bind="text: globalData.FLAT_TREE[$parent.activePos()].wordList()[index].TERM + ' (' + globalData.FLAT_TREE[$parent.activePos()].wordList()[index].COUNT + ')'"></span>
							<input class="wordCheckbox" type="checkbox" name="words" data-bind="value: globalData.FLAT_TREE[$parent.activePos()].wordList()[index].TERM, attr {'id': 'checkBoxStopword_' + globalData.FLAT_TREE[$parent.activePos()].wordList()[index].TERM}, click: $parent.changeStopWords, checked: globalData.FLAT_TREE[$parent.activePos()].wordList()[index].SELECTED,attr: {disabled: $parent.isChecked(index)}" />
						</li>
					<!-- /ko -->
				</ul>
				<!-- /ko --> 
				<!-- ko if: loading -->
				<img style="border: 0" src="images/ajax-loader.gif" alt="Loading"/>
				<!-- /ko --> 
				
			</div>
			<div id="lowBorder" style="position:absolute; bottom:1px; left: 10px;" data-bind="text: globalData.FLAT_TREE[activePos()].lowerBorder"></div>
			<div id="slider" style="position:absolute; bottom:5px; left: 50px; right: 70px;"></div>
			<div id="highBorder" style="position:absolute; bottom:1px; right: 10px;" data-bind="text: globalData.FLAT_TREE[activePos()].upperBorder"></div>
		</div>
	</div>
	<div id="overlay2" class="overlay" style="position: fixed; width: 100%; height:100%; top:0;margin: 0 auto; background-color:rgba(255,255,255,0.8); display: none;">
		<img style="border: 0; margin: 0;" src="images/delete_24.png" data-bind="click: closeOverlay"/>
		<div style="text-align: center; height:90%;position: fixed; left: 50%;width: 669px;margin-left: -335px;background-color: lightgrey;	overflow: scroll; ">
			
			<h3>wordtypes</h3>
			<table>
				<thead>
					<tr>
						<th>wordtype</th>
						<th>lower pruning border</th>
						<th>upper pruning border</th>
						<th>stopwords</th>
					</tr>
				</thead>
				<tbody data-bind="foreach: {data: globalData.checkedWordtypes, as: 'pos'}">
					<tr>
						<td><span data-bind="text: globalData.FLAT_TREE[pos].LABEL"></span></td>
						<td><span data-bind="text: globalData.FLAT_TREE[pos].lowerBorder"></span></td>
						<td><span data-bind="text: globalData.FLAT_TREE[pos].upperBorder"></span></td>
						<td><span data-bind="text: globalData.FLAT_TREE[pos].stopwords"></span></td>
					</tr>
				</tbody>
			</table>
			
			<br/>
			<span>find&nbsp;<input type="text" data-bind="value: topicCount"> topics</span> 
			<button type="button" data-bind="click:goToFrames">ok</button>
			<button type="button" data-bind="click:closeOverlay">cancel</button>
		</div>
	</div>
	<div id="overlay3" class="overlay" style="position: fixed; width: 100%; height:100%; top: 0; margin: 0 auto; background-color:rgba(255,255,255,0.8); display: none;">
		<div style="text-align: center; height:90%;position: fixed; left: 50%;width: 669px;margin-left: -335px;background-color: lightgrey;	overflow: scroll;top:42px;">
			<img style="border: 0; top: 45px" src="images/ajax-loader.gif" alt="Loading"/><span data-bind="text:statusMessage"></span>
		</div>
	</div>
</div>

<script type="text/html" id="wordtype_listTemplate">
<!-- ko if: PARENT > -1 -->
<tr data-bind="attr: {'row-id': POS, 'parent-id': PARENT}">
	<td><input class="wordtypeCheckbox" type="checkbox" name="wordType" data-bind="value: POS, attr {'id': 'checkBoxPos' + POS}, click: globalData.changeSelected, checked: globalData.checkedWordtypes" /><span data-bind="text:LABEL" ></span></td>
	<td data-bind="text:DOCUMENT_COUNT"></td>
	<td data-bind="text:COUNT"></td>
	<td data-bind="text:TERM_COUNT"></td>
	<td data-bind="text:MIN_TOKEN_LENGTH"></td>
	<td data-bind="text:AVG_TOKEN_LENGTH"></td>
	<td data-bind="text:MAX_TOKEN_LENGTH"></td>
</tr>
<!-- /ko --> 
<!-- ko if: PARENT < 0 -->
<tr data-bind="attr: {'row-id': POS}">
	<td><input class="wordtypeCheckbox" type="checkbox" name="wordType" data-bind="value: POS, attr {'id': 'checkBoxPos' + POS}, click: globalData.changeSelected, checked: globalData.checkedWordtypes" /><span data-bind="text:LABEL"></span></td>
	<td data-bind="text:DOCUMENT_COUNT"></td>
	<td data-bind="text:COUNT"></td>
	<td data-bind="text:TERM_COUNT"></td>
	<td data-bind="text:MIN_TOKEN_LENGTH"></td>
	<td data-bind="text:AVG_TOKEN_LENGTH"></td>
	<td data-bind="text:MAX_TOKEN_LENGTH"></td>
</tr>
<!-- /ko -->
	
<!-- ko template: { name: 'wordtype_listTemplate', foreach: CHILDREN } -->
<!-- /ko -->  

</script>