	<div class="docButtons">
	<!-- 	<button class="addButton" name="addToCart" title="add to shortlist" type="button"></button>
		<button class="chartButton" name="showBig" title="show topic mixture" type="button"></button>-->
	</div>
	<div class="docTitle">
		<a href="#" data-bind="click: $parent.loadDocument, attr: {id: 'doc' + $root.topicexplorer.data.document[selectedDocument].DOCUMENT_ID}"><nobr data-bind="text: $root.topicexplorer.data.document[selectedDocument].DOCUMENT_ID"></nobr></a>
	</div>