<div id="desktop" data-bind="style: {height: desktopHeight() + 'px'}, event: {scroll: scrollCallback}">	
	<img id="browserMenuActivator" class="menuActivator rotate1" src="images/Black_Settings.png" alt="&gt;" style="display: none;position: absolute;z-index:3; padding: 1px;" />
	<div id="browserMenu"
		style="display: none; position: absolute; z-index: 1; padding: 21px 0 0 1px;">
		<div  data-bind="template: {name: 'document-menu-view', afterRender: makeMenu}"></div>
	</div>
	<div id="jumpToStart" data-bind="style: {left: (windowWidth() / 2 - 14) + 'px'}">^</div>
	
	<div class="documentList" style="height: 100%;">		
		<ul	class="browser" style="height: 100%;">
		<!-- ko foreach: {data:selectedDocuments,  as: 'selectedDocument', afterRender:checkSize} -->
			<li class="documents" data-bind="attr: { 'id': 'doc_' + $root.topicexplorer.data.document[selectedDocument].DOCUMENT_ID}, style: {width:$parent.documentElementWidth() + 'px', borderColor: $root.topicexplorer.data.topic[$root.topicexplorer.data.document[selectedDocument].TOPIC_ID].COLOR_TOPIC$COLOR}">
				<span data-bind="text: $index() + 1" style="float:left; font-size: xx-small; color: darkgrey"></span>
				
				<div data-bind="template: { name: function() {return $parent.documentPluginTemplate();} }">
									</div>
				<div class="circles">
					
					<!--  ko foreach: $root.topicexplorer.data.document[selectedDocument].TOP_TOPIC --> 
					<span class="topicCheckboxCircle topicCircle" data-bind="style: {color: $root.topicexplorer.data.topic[$data].COLOR_TOPIC$COLOR}, attr: {id: 't_' + $data, title: 'Topic ' + $data}" >&#9679;</span><br/>
					<!-- /ko -->
				</div>
			</li>
		<!-- /ko -->
		<!--  ko if: $root.topicexplorer.view.tab[activeTab()] != 'undefined' -->
			<li data-bind="if: !$root.topicexplorer.view.tab[activeTab()].documentsFull() && $root.topicexplorer.data.documentsLoading() , style: {width: documentElementWidth() + 'px', border: '0', backgroundColor: '#f5f5f5'}">
				<img data-bind="style: {marginLeft: (documentElementWidth() / 2 - 16) + 'px', marginTop: '24px'}" src="images/ajax-loader.gif" alt="Loading"/>
			</li>
		<!-- /ko -->
		<!--  ko if: !selectedDocuments().length && !$root.topicexplorer.data.documentsLoading() -->
			<li style="border: 0; background-color: #f5f5f5"><span>no results</span></li>
		<!--  /ko -->
		
		</ul>
		
	</div>
</div>
