<div id="desktop" data-bind="style: {height: $parents[1].desktopHeight() + 'px'}">	
	<!--  ko if: loading -->
		<img style="margin-left: 24px; margin-top: 24px;" src="images/ajax-loader.gif" alt="Loading"/>
	<!-- /ko -->
	<!--  ko ifnot: loading -->
		<div id="singleToolbar" style="border-bottom: 1px solid  #DCDCDC; margin: 0 0 10px 0; padding: 10px 0 10px 30px; font-size:80%">
			<select data-bind="options: singleData[active()].textSelectArray, value: singleData[active()].textSelection,optionsText: 'label'"></select>
			<div data-bind="if: typeof singleData[active()].DOCUMENT.LINK$URL != 'undefined'" style="float:right; margin-right:30px;">	
				<a data-bind="attr:{href: singleData[active()].DOCUMENT.LINK$URL}" style="" target="blank"><img src="images/link.png" alt="link"/>open original</a>
			</div>
		</div>
		<span class="docTitle" style="margin-left: 10px; font-size: x-large;">
			<nobr data-bind="text: singleData[active()].TITLE_REPRESENTATION[singleData[active()].textSelection().field]"></nobr>
		</span>
		<!-- ko if: typeof singleData[active()].DOCUMENT.TIME$TIME_STAMP != 'undefined' -->
			<span style="font-size:xx-small; color: #7f7f7f" class="date" data-bind="text:moment(singleData[active()].DOCUMENT.TIME$TIME_STAMP * 1000).format('LLL')"></span>
		<!-- /ko -->
		<!--  ko if:singleData[active()].data.searchWord != undefined-->
			<span style="font-size:xx-small; color: #7f7f7f">Search: </span>
			<!-- ko foreach: singleData[active()].data.searchWord.split(" ") -->
				<!--  ko if: $parent.singleData[$parent.active()].DOCUMENT.SEARCH_TEXT.indexOf(' ' + $data + ' ') > -1 -->
					<span style="font-size:xx-small; color: #7f7f7f;" data-bind="text: $data + '(' + $parent.singleData[$parent.active()].DOCUMENT.SEARCH_TEXT.match(new RegExp(' ' + $data + ' ','g')).length + ')' + ' '"></span>
				<!-- /ko -->
				<!--  ko if: $parent.singleData[$parent.active()].DOCUMENT.SEARCH_TEXT.indexOf(' ' + $data + ' ') < 0 -->
					<span style="font-size:xx-small; color: #7f7f7f; text-decoration: line-through" data-bind="text: $data + ' '"></span>
				<!-- /ko -->
			<!-- /ko -->
		<!-- /ko --><br/>
		<p class="docContent" style="margin: 10px;" data-bind="style: {lineHeight: lineHeight() + '%'}" >
			<span data-bind="html: singleData[active()].TEXT_REPRESENTATION[singleData[active()].textSelection().field]"></span>
		</p>		
	<!-- /ko -->
</div>