	<div class="docButtons">
	<!-- <button class="addButton" name="addToCart" title="add to shortlist" type="button"></button>
		<button class="chartButton" onclick="" name="showBig" title="show topic mixture" type="button"></button>-->
	</div>
	<div class="docTitle">
		<a href="#" data-bind="click: $parent.loadDocument, attr: {id: 'doc' + $root.topicexplorer.data.document[selectedDocument].DOCUMENT_ID}"><nobr data-bind="text: $root.topicexplorer.data.document[selectedDocument].TEXT$TITLE"></nobr></a>
	</div>
	<p class="docContent">
		<!--  ko if: typeof $root.topicexplorer.data.document[selectedDocument].TIME$TIME_STAMP != 'undefined'-->
			<span style="font-size:xx-small; color: #7f7f7f" class="date" data-bind="text: moment($root.topicexplorer.data.document[selectedDocument].TIME$TIME_STAMP * 1000).format('LLL');"></span><br/>
		<!-- /ko -->
		<span data-bind="text:$root.topicexplorer.data.document[selectedDocument].TEXT$SNIPPET"></span>
	</p>