

<div id="singleToolbar" style="border-bottom: 1px solid  #DCDCDC; margin: 0 0 10px 0; padding: 0 0 10px 10px; font-size:80%">
	<input type="radio" name="mark" value="PLAIN_TEXT" data-bind="checked: selectedMark" > plain Text
	<input type="radio" name="mark" value="TEXT_WITH_MARKED_WORDS" data-bind="checked: selectedMark" > Keywords
	<!-- ko if: framesActive -->
	    <input type="radio" name="mark" value="TEXT_WITH_MARKED_FRAMES" data-bind="checked: selectedMark" > All Frames
	   	<!-- ko if: typeof $root.topicexplorer.view.tab[activeTab()].focus[1] != 'undefined' -->
	    	<input type="radio" name="mark" value="TEXT_WITH_MARKED_FRAMES_FOR_TOPIC" data-bind="checked: selectedMark" ><span data-bind="text: 'Frames Topic ' + $root.topicexplorer.view.tab[activeTab()].focus[1].topic"></span>
	    	<!-- ko if: typeof $root.topicexplorer.view.tab[activeTab()].focus[1].frame != 'undefined' -->
	    		<input type="radio" name="mark" value="TEXT_WITH_MARKED_FRAMES_FOR_TOPIC_AND_FRAME" data-bind="checked: selectedMark" ><span data-bind="text: 'Frames Topic ' + $root.topicexplorer.view.tab[activeTab()].focus[1].topic + ' Frame ' + $root.topicexplorer.view.tab[activeTab()].focus[1].frame"></span>
	   		<!-- /ko -->
	   	<!-- /ko -->
	   	<input type="radio" name="mark" value="TEXT_WITH_INACTIVE_FRAMES" data-bind="checked: selectedMark" > Inactive Frames
   	<!-- /ko -->
   	<!-- ko if: typeof $root.topicexplorer.data.document[selectedSingleDocument()].LINK$URL != 'undefined' -->
	   <span style="margin-left: 25px;">original text: </span><a target="blank" data-bind="attr: {'href': $root.topicexplorer.data.document[selectedSingleDocument()].LINK$URL}, text: $root.topicexplorer.data.document[selectedSingleDocument()].LINK$URL"></a>
   	<!-- /ko -->
</div>
<a class="docTitle" style="margin-left: 10px; font-size: x-large;">
	<nobr data-bind="text: $root.topicexplorer.data.document[selectedSingleDocument()].TEXT$TITLE"></nobr>
</a>
<p class="docContent">
	<!-- ko if: $root.topicexplorer.data.documentsLoading -->
		<img data-bind="style: {marginLeft: (documentElementWidth() / 2 - 16) + 'px', marginTop: '24px'}" src="images/ajax-loader.gif" alt="Loading"/>
	<!-- /ko -->
	<span data-bind="html: markedText()"></span>
</p>
