<div id="desktop" data-bind="style: {height: timeDesktopHeight() + 'px'}, event: {scroll: timeScrollCallback}">
	<img id="singleMenuActivator" class="menuActivator rotate1" src="images/Black_Settings.png" alt="&gt;" style="display: none;position: absolute;z-index:3; padding: 1px;" />
	<div id="singleMenu"
		style="display: none; position: absolute; z-index: 1; padding: 21px 0 0 1px;">
		<div  data-bind="template: {name: 'single-menu-view', afterRender: init}"></div>
	</div>
	<div style="padding-left: 30px;">
	<!-- ko foreach: {data:$root.topicexplorer.data.topicSorting,  as: 'selectedTopic', } -->
		
	<label data-bind="attr:{ title: $root.topicexplorer.data.topic[selectedTopic].TEXT$TOPIC_LABEL}">
		<input type="checkbox" name="timeTopic" data-bind="attr: {value: selectedTopic}, disable: selectedTopic == topicId(), checked: renderedTopics"/><span data-bind="style: {color: $root.topicexplorer.data.topic[selectedTopic].COLOR_TOPIC$COLOR} ">&#9679;</span>
	</label>	
	<!-- /ko -->
	
	<label title="Average"><input type="checkbox" name="timeTopic" data-bind="checked: renderedTopics" value="average"/><span style="color: #000000">&#9679;</span></label>
	
	</div>
	<div id="chart"></div>
</div>