<div id="desktop" data-bind="style: {height: $parents[1].desktopHeight() + 'px'}">
	<div style="padding-left: 30px;" id="topicCheckboxes">
		<!-- ko foreach: {data: timeData.allTopics,  as: 'selectedTopic'} -->
		<span data-bind="attr:{ title: 'Topic ' + selectedTopic}" style="cursor: progress" class="topicCheckbox">
			<input  style="cursor: progress" type="checkbox" name="timeTopic" data-bind="attr: {value: selectedTopic, id: 'topicCheckbox_' + selectedTopic}, disable: selectedTopic == $parent.timeData[$parent.active()].topicId(), checkedValue: selectedTopic, checked: $parent.timeData[$parent.active()].renderedTopics" />
			<label data-bind="attr:{id: 'topicCheckboxLabel_' + selectedTopic, for: 'topicCheckbox_' + selectedTopic}, style: {color: globalData.Topic[selectedTopic].COLOR_TOPIC$COLOR} " style="cursor: progress; margin:0 -7px 0 -5px;" class="topicCircle">&#9679;</label>
		</span>
		<!-- /ko -->
		
		<span title="Average" style="cursor:pointer">
			<input type="checkbox" id="topicCheckbox_Average" name="timeTopic" data-bind="checked: timeData[active()].renderedTopics" value="average" style="cursor:pointer" />
			<label class="topicCircleNotMove" for="topicCheckbox_Average" style="cursor:pointer;color: #000000; margin:0 -7px 0 -5px;">&#9679;</label>
		</span>
	</div>
	<div id="chart"></div>
	<!-- ko if: navigator.userAgent.indexOf('Firefox') > -1 || navigator.userAgent.indexOf('Chrome') > -1 || navigator.userAgent.indexOf("Presto") > -1 || navigator.userAgent.indexOf("MSIE") > -1 -->
		<button id="getcsv" data-bind="click: $parent.downloadCSV">Download CSV</button>
	<!-- /ko -->
</div>