<div class="topicBottomSliderDiv">
	<div class="topicPrevElCont" data-bind="foreach: {data: $parent.selectedTopics, as: 'selectedTopic'}, style: {width: windowWidth() + 'px'}">
	<!-- ko if: $index() === 0 -->
		<span class="topicRect" data-bind="attr: {'id' : 'topic_' + selectedTopic, title: 'Topic ' + selectedTopic}, style: {'backgroundColor': globalData.Topic[selectedTopic].COLOR_TOPIC$COLOR, 'width' : $parent.sliderElWidth() + 'px'}, click: $parent.moveToTopic" style="font-size: xx-small;float: left;height: 15px; border-left: 1px solid black; border-right: 1px solid black; cursor: pointer;"></span>
	<!-- /ko -->
	<!-- ko if: $index() !== 0 -->
		<span class="topicRect" data-bind="attr: {'id' : 'topic_' + selectedTopic, title: 'Topic ' + selectedTopic}, style: {'backgroundColor': globalData.Topic[selectedTopic].COLOR_TOPIC$COLOR, 'width' : $parent.sliderElWidth()+ 'px'}, click: $parent.moveToTopic" style="font-size: xx-small;float: left;height: 15px; border-right: 1px solid black; cursor: pointer;"></span>
	<!-- /ko -->
	</div>
	<div  class="topicPrevSlider"><span>&#9650;</span></div>
</div>