        <h2>DocumentView: <span data-bind="text:selectedPluginTemplate"></span></h2>
        <ul data-bind="foreach: pluginTemplates">
            <li>
                <a href="#" data-bind="text: $data, click: $parent.selectedPluginTemplate"></a>
            </li>
        </ul>

        <h3>Inhalt</h3>
	<ul data-bind = "template: { name: function() {return selectedPluginTemplate();}, foreach: selectedDocuments, as: 'selectedDocument'}">
	</ul>
        <a href="#" data-bind="click: changeSelectedDocuments">Change Documents</a>

