
<div id="desktop" data-bind="event: {scroll: scrollCallback}">	
	<img id="browserMenuActivator" class="menuActivator rotate1" src="images/Black_Settings.png" alt="&gt;" style="display: none;position: absolute;z-index:3; padding: 1px;" />
	<div id="browserMenu"
		style="display: none; position: absolute; z-index: 1; padding: 21px 0 0 1px;">
	<!-- 	<strong>
			DocumentView: <span data-bind="text:selectedPluginTemplate"></span>
		</strong>-->
		<div  data-bind="template: {name: 'document-view-menu', afterRender: makeMenu}"></div>
	</div>

	<div class="documentList">		
		<ul	class="browser" data-bind="template: { name: function() {return selectedPluginTemplate();}, foreach: selectedDocuments, as: 'selectedDocument'}"></ul>
	</div>
</div>