<div class="leftBody" data-bind="style: {height: leftBodyHeight() + 'px'}">
	<span data-bind="text: version"></span><br/>
	<div id="search-view" data-bind="module: {name: 'search-view', data: topicexplorer, template: 'search-view'}"></div>
	
<!-- 	<div id="document-view" data-bind="module: {name: 'document-view', data: topicexplorer, template: 'document-view', afterRenderdd: resizeDocumentDivs}"></div>  -->
	<div id="document-view" data-bind="module: {name: 'document-view', data: topicexplorer, template: 'document-view'}"></div>
	
	<div id="topic-view" data-bind="module: {name: 'topic-view', data: topicexplorer, template: 'topic-view', afterRender: setTopicSlider}"></div>
</div>
