
	<img class="menuActivator rotate1" src="images/Black_Settings.png" alt="&gt;" />
	<div id="topicMenu"
		style="display: none; background-color: #EEEEEE; border: 1px solid #D1D1D1; position: absolute; z-index: 1;">
		<strong>
			TopicView: <span data-bind="text:selectedPluginTemplate"></span>
		</strong>
		<div  data-bind="template: {name: 'topic-view-menu', afterRender: makeMenu}"></div>
	</div>

<div class="topicList">
<ul data-bind="foreach: {data: selectedTopics, as: 'selectedTopic'}">
	<li class="topic" data-bind="attr:{ 'id' : 'topic' + selectedTopic}, style: { backgroundColor: $root.topicexplorer.topic[selectedTopic].COLOR_TOPIC$COLOR}">
		<div  class="topicElementDiv"data-bind="template: { name: function() {return $parent.selectedPluginTemplate()}}"></div>
	</li>
</ul>
</div>
Clicked Topic is: <span data-bind="text: clickedTopic"></span><br/>

<a href="#" data-bind="click: changeSelectedTopics">Change Topics</a>
