<div class="topicBottomSliderDiv">
	<div class="topicPrevElCont">
		<svg style="z-index: 2;">
			<g id="groupG" data-bind="foreach: {data: selectedTopics, as: 'selectedTopic'}">
				<rect data-bind="attr:{ 'id' : 'topic_' + selectedTopic, 'x': $index, 'index': $index, 'fill': $root.topicexplorer.topic[selectedTopic].COLOR_TOPIC$COLOR}" class="topicRec" height="13" width="1" y="2" title="Topic 0" stroke-width="0.02" stroke="black">
			</g>
		</svg>
	</div>
	<svg class="topicPrevSlider" y="0" x="0" height="15">
		<rect x="0" style="opacity: 0.5; stroke-width: 2; stroke: black; cursor: col-resize;" height="15" fill="white"/>
		<polygon points="114.5,5 109.5,15 119.5,15 " fill="black">
	</svg>
</div>